* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Pretendard;
  margin: 0;
  background: var(--Linkbrary-bg, #f0f6ff);
}

main {
  margin: 238px auto 116px;
  width: 400px;
}

.center {
  text-align: center;
}

.logo {
  width: 210.583px;
  height: 38px;
}

.user {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 16px 0 30px;
}

.already_user {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.signup {
  color: var(--Linkbrary-primary-color, #6d6afe);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.lab {
  color: var(--black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#email {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
  margin: 12px 0 24px;
}

#email:focus {
  outline: 1px solid var(--Linkbrary-primary-color, #6d6afe);
}

.pwform {
  display: flex;
  width: 400px;

  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
  margin: 12px 0 30px;
}

.eyeoff {
  border: 0;
  background-color: transparent;
  margin: 0 15px 0 0;
}

#pw {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background: var(--Linkbrary-white, #fff);
  outline: none;
}

.pwform:focus-within {
  outline: 1px solid var(--Linkbrary-primary-color, #6d6afe);
}

#pw_check {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background: var(--Linkbrary-white, #fff);
  outline: none;
}

.signin {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  border: 0;
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 54px 0 32px;
}

.social {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-gray10, #e7effb);
  margin: 32px 0 0;
}

.social_icon {
  display: flex;
  gap: 16px;
}
.google,
.kakao {
  position: relative;
}

.google1,
.kakao1 {
  width: 42px;
  height: 42px;
}

.google2,
.kakao2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 22px;
}
